/* 
_____Encyclopedia_____________________________________________________________________ */
/* ================================================================================== */

.encyclopedia-container {
    display: flex;
    width: 100%;
    background: hsl(188, 15%, 30%);
    /* padding: 3em; */
    margin-top: 50px;
    /* border: solid 1px rgba(117, 219, 235, 0.75); */
    box-shadow: 0 0 100px 0px rgba(117, 220, 235, .25);
    /* box-shadow: 0 0 25px 0px rgba(0, 0, 0, 1); */
}



/* 
_____Encyclopedia Contents Bar________________________________________________________ */
/* ================================================================================== */
.e-contents {
    position: relative;
    width: 15em;
    min-width: 15em;
    background: rgba(0, 0, 0, 0.8);
    float: left;
    box-sizing: border-box;
    overflow: hidden;
}


/* 
_____Contents Header__________________________________________________________________ */
/* ================================================================================== */
.e-contents-header-title {
    padding: 1em 1em 1em 2em;
    width: 100%;
    height: 100%;
    background: #0c4f59;
    background: linear-gradient(0deg, rgba(12,79,89,1) 0%, rgba(15,99,112,1) 100%);
    box-sizing: border-box;
}

.e-contents-header-title h1 {
    font-size: 1.5em;
}

.e-contents-toggler {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0em;
    width: 5.5em;
    height: 4.28em;
    background: hsl(188, 76%, 20%);
    background: linear-gradient(0deg, rgba(12,79,89,1) 0%, rgba(15,99,112,1) 100%);
    border-left: solid 2px rgba(0, 0, 0, 0.25);
    margin: 0;
    cursor: pointer;
    visibility: hidden;
}

.e-contents-header-arrow-down {
    position: absolute;
    transform: rotate(90deg);
    width: 2em;
    right: 1.75em;
    top: 1.25em;
    transition: transform .5s;
}

.e-contents-header-arrow-up {
    position: absolute;
    transform: rotate(270deg);
    width: 2em;
    right: 1.75em;
    top: 1.25em;
    transition: transform .5s;
}


/* 
_____Contents List____________________________________________________________________ */
/* ================================================================================== */
/* BUG: The list can be seen closing when changing window size on a desktop.*/
.e-contents-ul {
    transition: max-height .5s;
    max-height: 200em;
    overflow: hidden;
    margin: .5em 0 .5em 0;
}

.e-contents ul {
    position: relative;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.e-contents ul li {
    position: relative;
    list-style: none;
    width: 100%;
    box-sizing: border-box;
}

.e-contents ul li a {
    position: relative;
    box-sizing: border-box;
    color: white;
    font-weight: 300;
}

.e-contents-arrow-box {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0em;
    width: 3.5em;
    height: 3.2em;
    background: hsl(188, 76%, 20%);
    padding: 1em 0 1em 2em;
    margin: 0;
    cursor: pointer;
}

.e-contents-arrow-down {
    position: absolute;
    width: 1.5em;
    transform: rotate(90deg);
    right: 1em;
    top: 1em;
    transition: transform .5s;
}

.e-contents-arrow-up {
    position: absolute;
    width: 1.5em;
    transform: rotate(270deg);
    right: 1em;
    top: 1em;
    transition: transform .5s;
}

.e-contents-parent {
    box-sizing: border-box;
    width: 100%;
    padding: 1em 0 1em 2em;
    background: hsl(188, 76%, 20%);
    height: 3.2em;
}

.e-contents-header-title:hover,
.e-contents-toggler:hover,
.e-contents-parent-highlighted,
.e-contents-parent:hover,
.e-contents-arrow-box:hover {
    background: hsl(188, 75%, 40%);
}

.e-contents-child {
    padding: 1em 0 1em 3em;
    background: none;
}

.e-contents-child-highlighted,
.e-contents-child:hover {
    background: hsl(0, 0%, 30%);
    background: hsl(188, 15%, 25%);
}

/* @TODO: use JavaScript to change height smoothly, rather than use max-height  */
.e-contents-children {
    max-height: 40em;
    overflow: hidden;
    transition: max-height .5s;
}

.e-contents-children-collapsed {
    max-height: 0;
    overflow: hidden;
}


/* 
_____Encyclopedia Page________________________________________________________________ */
/* ================================================================================== */
.e-page {
    position: relative;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    float: left;
    width: 100%;
}

.e-banner {
    position: relative;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.e-banner img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.e-banner h1 {
    font-size: 3.25em;
    position: absolute;
    bottom: 0;
    padding-left: 3rem;
    padding-right: 1rem;
    background: rgba(0, 0, 0, 0.8);
}

.e-page-content {
    padding: 3rem;
}

.e-section {
    padding-top: 1em;
    clear: both;
}

.e-page-content hr {
    clear: both;
}


/* 
_____Encyclopedia Page Images_________________________________________________________ */
/* ================================================================================== */
.right-img-50 {
    width: 50%;
    float: right;
    box-sizing: border-box;
    margin: .5em 0 2.5em 2.5em;
}

.right-img-25 {
    width: 25%;
    float: right;
    box-sizing: border-box;
    margin: .5em 0 2.5em 2.5em;
}

.left-img-50 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    margin: .5em 2.5em 2.5em 0;
}

.left-img-25 {
    width: 25%;
    float: left;
    box-sizing: border-box;
    margin: .5em 2.5em 2.5em 0;
}

.full-img {
    width: 100%;
    margin: .5em 0 2.5em 0;
}


/* 
_____Media Queries____________________________________________________________________ */
/* ================================================================================== */
@media(max-width: 1250px) {
    
    .left-img-25 {
        width: 50%;
    }
    
    .right-img-25 {
        width: 50%;
    }
}


@media(max-width: 880px) {
    .encyclopedia-container {
        display: initial;
        /* margin-top: 2em; */
    }

    .e-contents {
        float: none;
        width: 100%;
    }

    .e-contents-header-title {
        padding: .1em .1em .1em 2em;
        height: 4.28em;
        box-sizing: border-box;
    }

    .e-contents-arrow-box {
        width: 5.5em;
        border-left: solid 2px rgba(0, 0, 0, 0.25);
    }

    .e-contents-arrow-down {
        right: 2em;
    }

    .e-contents-arrow-up {
        right: 2em;
    }

    .e-page {
        float: none;
    }

    .e-contents-toggler {
        visibility: visible;
    }

    .e-contents-collapsed {
        max-height: 0;
        overflow: hidden;
    }

    .right-img-50 {
        width: 100%;
    }

    .right-img-25 {
        width: 100%;
    }

    .left-img-50 {
        width: 100%;
    }

    .left-img-25 {
        width: 100%;
    }

}


@media(max-width: 660px) {
    
    .e-banner h1 {
        font-size: 2.5em;
        padding-left: 1rem;
    }

    .e-page-content {
        padding: 1rem;
    }
}